/*凡是带有inline的元素都有文字特性*/

/*div{*/
    /*!*display: inline;*!*/
    /*background-color: #ff4400;*/
    /*width: 100px;*/
    /*height: 200px;*/
    /*display: inline-block;*/
/*}*/

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.gray{
    background-color: gray;
}

.size1{
    width: 100px;
    height: 100px;
}
.size2{
    width: 200px;
    height: 200px;
}
.size3{
    width: 300px;
    height: 300px;
}

em{
    font-style: normal;
    color: red;
}
*{
    padding: 0;
    margin: 0;
}

div{
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 10px solid black;
    border-width: 10px 20px 30px 40px;
    padding: 10px 20px 30px;

    /*上右下左*/

}